*{
    margin: auto;
}
body{
    font-family: 'Roboto';
}
@font-face {
    font-family: 'VCR OSD Mono';
    src: url("/public/font/VCR_OSD_MONO_1.001.ttf") format("truetype");
}
@font-face {
    font-family: 'Roboto';
    src: url("/public/font/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

.blue{
    color: #00DCFF;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ACCUEIL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~*/

header{
    display: flex; /* the header is in flex row */
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        rgba(70, 70, 70, 0.7),
        rgba(70, 70, 70, 0.7)
      ), url(image/stonebrick.png); /* to have a color above my image */
    background-size:contain;
    padding: 1rem;
    position: fixed; /* navbar that stick to the top of the screen */ 
    width:100%;
    z-index: 99;
}
header nav{
    display: flex;
}
header nav a{
    font-family: 'VCR OSD Mono';
    color: #E6E6E6;
    padding-right: 4rem;
    text-decoration: none;
    font-size: 2vw;
}
.icon{
    display: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Section 1~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#section1{
    min-height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        rgba(70, 70, 70, 0.4),
        rgba(70, 70, 70, 0.4)
      ), url(image/backgroundimage1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 5vw;
}
.welcome{
 text-align: center;
 color: #E6E6E6;
 font-size: 3vw;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Section 2~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#section2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 592px;
    background-image: url(image/section2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8vw;
}
#section2 p{
    font-size: 2.7vw;
    font-weight: 700;
    text-align: center;
    color: #464646;
    background-color:rgba(187, 187, 187, 62%) ;
    border-radius: 15px;
    padding: 1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Section 3~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#section3{
    background-image: url(image/section3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E6E6E6;
    max-height: 345px;
    padding: 0.5vw 7vw ;
}
#section3 h2{
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 2.5vw;
    background-color: rgba(0, 0, 0, 60%);
    border-radius: 15px;
}
.admin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.player{
    display: flex;
}
.player img{
    margin: 0 0.5rem;
    max-width: 80%;
    height: auto;
    height: 13vw;
}
.player section{
    background-color: rgba(0, 0, 0, 60%);
    padding: 1rem;
    border-radius: 15px;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
}
.commu{
    margin:0 0.5rem;
    font-size: 1.4vw;
    text-align: center;
    font-weight: 700;
}
.commu div{
    background-color: rgba(0, 0, 0, 60%);
    padding: 1vw;
    border-radius: 15px;
}
.slideshow-container{
    display: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~section4~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#section4{
    display: flex;
    font-family: 'VCR OSD Mono';
    background-image: url(image/section4.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 530px;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    margin: 1vw 0;
}
fieldset{
    border: none;
    height: 488px;
    width: 395px;
    margin: 0 5vh; 
}
.fieldset1{
    background-image: url(image/book2.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
    padding: 0;
    margin-right: 0;
}
.fieldset1 h2{
    padding: 1rem 0;
    font-size: 2.3vw;
}
label{
    font-size: 1.5vw;
}
input{
    background-color: #D8D1BF;
    border: none;
    height: 2vw;
    margin: 0 1rem;
    width: 16vw;
    border-radius: 15px;
    font-size: 17px;
    padding: 0 1rem;
}
.formP{
    font-size: 1.5vw;
}
.textinput{
    margin-bottom: 1rem;
}
.radioflex{
    display: flex;
    flex-direction: row;
}
.radioflex input{
    width: 1.8vw;
    margin: 1vw 0 0 2vw;
}

.fieldset2{
    background-image: url(image/book1.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
    padding: 0;
    margin-left: 0;
}
.fieldset2 div{
    margin-top: 2vw;
}
textarea{
    resize: none;
    height: 260px;
    width: 300px;
    background-color:#D8D1BF;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    font-size: 2vh;
    margin-top: 1rem;
}
.fieldset2 div button{
    font-family: 'VCR OSD Mono';
    font-size: 1.5vw;
    background-color:#D8D1BF;
    border: none;
    width: 80%;
    height: 2vw;
    border-radius: 15px;
}
.fieldset2 div button:hover{
    width: 85%;
    height: 2.5vw;
    background-color:#c0b9a7;
    font-size: 1.6vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~maj~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.maj{
    background-color: rgba(0, 0, 0, 36%);
    color: #E6E6E6;
    padding: 3vh;
    border-radius: 15px;
    height: 80%;
    overflow: hidden;
    width: 30%;
    max-height: 100%;
}
.maj h2{
    font-size: 2vw;
    margin-bottom: 2.5vw;
    font-weight: 500;
}
.maj h3{
    font-size: 2vw;
    margin-bottom: 2.5vw;
    font-weight: 500;
}
.maj p{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.5vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer{
    background-image: url(image/footer.png);
    max-height: 91px;
    background-repeat: no-repeat;
    background-size: cover;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 91px;
    color: #E6E6E6;
    font-size: 2vw;
    font-weight: 700;
}
footer div p{
    background-color: rgba(0, 0, 0, 36%);
    padding: 1rem;
    border-radius: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~OBJECTIF~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~section 1 objectif~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#objSection1{
    background-image: url(image/section2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    padding: 7vw;
}
#objSection1 div{
    background-color:rgba(187, 187, 187, 62%);
    padding: 3vw;
    border-radius: 15px;
    color: #464646;
    font-size: 2vw;
    margin: 0 7vw;
}
#objSection1 div h1{
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom:2rem;
    font-family: 'VCR OSD Mono';
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~section 2 objectif~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#objSection2{
    background-image: url(image/section3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1vw 7vw ;
}
#objSection2 div{
    background-color: rgba(0, 0, 0, 60%);
    padding: 3vw;
    border-radius: 15px;
    color: #E6E6E6;
    font-size: 2vw;
    margin: 0 7vw;
    font-weight: 500;
}
#objSection2 div h2{
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom:2rem;
    font-family: 'VCR OSD Mono';
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~section 3 objectif~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#objSection3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(image/section4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw 7vw;
}
#objSection3 div{
    background-color: rgba(0, 0, 0, 36%);
    padding: 3vw;
    border-radius: 15px;
    color: #E6E6E6;
    font-size: 2vw;
    margin: 0 7vw;
    font-weight: 500;
}
#objSection3 div h2{
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom:3vw;
    font-family: 'VCR OSD Mono';
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~REJOINDRE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~rejoindre section 1~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#rejSection1{
    background-image: url(image/section2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    color: #464646;
    padding: 7vw;
    padding-top: 8vw;
}
#rejSection1 h1{
    font-family: 'VCR OSD Mono';
    background-color:rgba(187, 187, 187, 62%);
    padding: 3vw;
    font-size: 2vw;
    border-radius: 15px;
}
#rejSection1 div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#rejSection1 div p{
    background-color:rgba(187, 187, 187, 62%);
    border-radius: 15px;
    font-size: 1.2vw;
    margin: 1vw;
    padding: 1.5vw;
    text-align: center;
    max-height: auto;
}
#rejSection1 div p a{
    text-decoration: none;
    color: #00DCFF;
}
#rejSection1 div p a:hover{
    text-decoration: underline;
    color: #00DCFF;
}
#rejSection1 div img{
    height: auto;
    max-width: 50%;
    border-radius: 15px;
    margin: 0 2vw;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~rejoindre section 2~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#rejSection2{
    background-image: url(image/section3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw 7vw ;
}
#rejSection2 div{
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    
}
#rejSection2 div p{
    background-color: rgba(0, 0, 0, 36%);
    color: #E6E6E6;
    border-radius: 15px;
    font-size: 2vw;
    margin: 0 2vw;
    padding: 1vw 7vw;
    text-align: center;

}
#rejSection2 div img{
    height: auto;
    max-width: 30%;
    border-radius: 15px;
    margin: 0 2rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~rejoindre section 3~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#rejSection3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(image/section4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw 7vw;
}
#rejSection3 p{
    background-color: rgba(0, 0, 0, 36%);
    color: #E6E6E6;
    border-radius: 15px;
    font-size: 2vw;
    text-align: center;
    margin: 2vw 3vw 0;
    padding: 2vw;
}
#rejSection3 div{
    display: flex;
    justify-content: center;
    margin: 1vw;
}
#rejSection3 div img{
    height: auto;
    max-width: 40%;
    margin: 0 4vw;
}

.mentions{
    background-color: #464646;
    color: #E6E6E6;
    padding: 8vw 15vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2vw;
}
.mentions div{
    margin: 3vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~mod laptop L~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:1440px) {
    
    /* ~~~~~~~~~~~~~~~~~~~~~~~section3 media~~~~~~~~~~~~~~~~~~~~~~~~~ */

    
    .player img{
        height: 14vw;
    }
    .player section{
        padding: 1vw;
        font-size: 1.4vw;
        height: 12vw;
    }
    .commu{
        font-size: 1.4vw;
        height: 15vw;
    }
    .commu img{
        width: 100%;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~section 4 media~~~~~~~~~~~~~~~~~~~~~~~~~ */

    #section4{
        font-size: 1.8vw;
    }
    fieldset{
        width: 23vw;
        height: 28.6vw;
    }
    textarea{
        width: 15vw;
        height: 12vw;
    }
    .radioflex input{
        width: 2vw;
        margin: 0.5vw 0 0 2vw;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~between L and normal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:1250px){

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~header media~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .logo{
        width: 30vw;
    }
    header nav a{
        font-size: 2.5vw;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~section3 media~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .player img{
        max-height: 18vw;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~section 4 media~~~~~~~~~~~~~~~~~~~~~~~~~ */

    #section4{
        font-size: 1.8vw;
    }
    fieldset{
        width: 23vw;
        height: 28.6vw;
    }   
    textarea{
        width: 15vw;
        height: 10vw;
    }
    .maj{
        margin: 2vw auto;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~Mod Laptop~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:1024px){

    /* ~~~~~~~~~~~~~~~section 4 media~~~~~~~~~~~~~~~ */

    input{
        margin: 0;
        font-size: 1.4vw;
    } 
    textarea{
        font-size: 1.4vw;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~mentions~~~~~~~~~~~~~~~~~~~~~ */
    .mentions{
        line-height: normal;
    }
    .mentions div{
        margin: 4vw;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~Mod tablet~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:768px){

    /* ~~~~~~~~~~~~~~~header media~~~~~~~~~~~~~~~ */
    header{
        padding: 3vw;
        flex-direction: column;
        padding: 2vw;
    }
    .logo{
        width: 30vw;
    }
    header nav a{
        padding: 0 3vw;
        font-size: 3vw;
    }
    /* ~~~~~~~~~~~~~~~section 1 media~~~~~~~~~~~~~~~ */
    #section1{
        padding-top: 7vw;
    }
    /* ~~~~~~~~~~~~~~~section 3 media~~~~~~~~~~~~~~~ */
    .player section{
        overflow: hidden;
    }
    /* ~~~~~~~~~~~~~~~section 4 media~~~~~~~~~~~~~~~ */
    #section4{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .fieldset1{
        width: 40vw;
        height: 50vw;
    }
    .fieldset1 h2{
        font-size: 3vw;
    }
    .fieldset2{
        width: 40vw;
        height: 50vw;
    }
    label{
        font-size: 2.5vw;
    }
    input{
        height: 4vw;
        width: 20vw;
    }
    .formP{
        font-size: 2.5vw;
    }
    .radioflex{
        width: 28vw;
    }
    .radioflex input{
        width: 3vw;
    }
    textarea{
        height: 25vw;
        width: 23vw;
        font-size: 2vw;
    }
    .fieldset2 div button{
        font-size: 2.5vw;
        height: auto;
        padding: 1vw;
    }
    .maj{
        margin: 2vw 4vw;
        width: auto;
        padding: 2vw;
    }
    .maj h2{
        font-size: 2.8vw;
    }
    .maj h3{
        font-size: 2.8vw;
    }
    .maj p{
        font-size: 2.5vw;
    }
    /* ~~~~~~~~~~~~~~~section 1 Objectif~~~~~~~~~~~~~~~ */
    #objSection1{
        padding-top: 15vw;
    }
    #objSection1 div{
        font-size: 3vw;
    }
    #objSection1 div h1{
        font-size: 3.5vw;
    }
    /* ~~~~~~~~~~~~~~~section 2 Objectif~~~~~~~~~~~~~~~ */
    #objSection2 div{
        font-size: 3vw;
    }
    #objSection2 div h2{
        font-size: 3.5vw;
    }
    /* ~~~~~~~~~~~~~~~section 3 Objectif~~~~~~~~~~~~~~~ */
    #objSection3 div{
        font-size: 3vw;
    }
    #objSection3 div h2{
        font-size: 3.5vw;
    }
    /* ~~~~~~~~~~~~~~~section 1 Rejoindre~~~~~~~~~~~~~~~ */
    #rejSection1{
        padding-top: 15vw;
    }
    #rejSection1 div p{
        font-size: 2vw;
    }
    #rejSection1 h1{
        font-size: 3vw;
    }
    /* ~~~~~~~~~~~~~~~~mentions~~~~~~~~~~~~~~~~~~ */
    .mentions{
        padding-top: 10vw;
    }
}
@media screen and (max-width:605px){


    /* ~~~~~~~~~~~~~~~section 3 media~~~~~~~~~~~~~~~ */
    .admin{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .player section{
        font-size: 2vw;
    }
    .commu{
        display: flex;
    }
    .commu img{
        width: 20vw;
    }
    .commu p{
        font-size: 2vw;
    }
    .maj h2{
        font-size: 3.2vw;
    }
    .maj h3{
        font-size: 3.2vw;
    }
    .maj p{
        font-size: 3vw;
    }
    /* ~~~~~~~~~~~~~~~section 1 Objectif~~~~~~~~~~~~~~~ */
    #objSection1{
        padding-top: 20vw;
    }
    #objSection1 div{
        font-size: 4vw;
    }
    #objSection1 div h1{
        font-size: 4.5vw;
    }
    /* ~~~~~~~~~~~~~~~section 2 Objectif~~~~~~~~~~~~~~~ */
    #objSection2 div{
        font-size: 4vw;
    }
    #objSection2 div h2{
        font-size: 4.5vw;
    }
    /* ~~~~~~~~~~~~~~~section 3 Objectif~~~~~~~~~~~~~~~ */
    #objSection3 div{
        font-size: 4vw;
    }
    #objSection3 div h2{
        font-size: 4.5vw;
    }
    /* ~~~~~~~~~~~~~~~section 1 rejoindre~~~~~~~~~~~~~~~ */
    #rejSection1 div{
        flex-direction: column;
    }
    #rejSection1 h1{
        font-size: 3.5vw;
    }
    #rejSection1 div p{
        font-size: 3vw;
        margin: 3vw 1vw;
    }
    #rejSection1 div img{
        max-width: 80%;
    }
    /* ~~~~~~~~~~~~~~~section 2 rejoindre~~~~~~~~~~~~~~~ */
    #rejSection2 div{
        flex-direction: column-reverse;
    }
    #rejSection2 div p{
        font-size: 3vw;
        margin: 2vw;
    }
    #rejSection2 div img{
        max-width: 50%;
    }
    /* ~~~~~~~~~~~~~~~section 3 rejoindre~~~~~~~~~~~~~~~ */
    #rejSection3 p{
        font-size: 3vw;
    }
    #rejSection3 div{
        flex-direction: column;
        align-items: center;
    }
    #rejSection3 div img{
        max-width: 60%;
        margin: 3vw;
    }
}
@media screen and (max-width:425px){
    /* ~~~~~~~~~~~~~~~~~~~~~~navbar~~~~~~~~~~~~~~~~~~~~~~~~ */
    #navLinks {
        display: none;
    }  
    #navLinks a{
        font-size: 4vw;
    }
    .logo{
        width: 60vw;
    }
    header a.icon {
    color:#E6E6E6;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-size: large;
    position: absolute;
    font-size: large;
    right: 4vw;
    top: 15px;
    }
    
    header a:hover {
    justify-content: center;
    }

    #navLinks  a:hover{
        color: grey;
        text-decoration:none;
    }

    .active{
        font-weight: 600;
    }
    .welcome{
        font-size: 4vw;
        padding-top: 6vw;
    }
    #section2 p{
        font-size: 4vw;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~section 3~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .desktopadmin{
        display: none;
    }
    #section3{
        max-height: none;
    }
    #section3 h2{
        font-size: 3.5vw;
    }
    .slideAdmin{
        display: flex;
        margin: 2vw 5vw;
    }
    .player img{
        max-height: 25vw;
        height: auto;
    }
    .slideAdmin section{
        width: 40vw;
        height: auto;
        font-size: 3vw;
        overflow: visible;
    }
    .commu{
        flex-direction: column;
    }
    .commu p{
        font-size: 3vw;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~slider~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .slideshow-container{
        display: block;
    }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 3vw;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(0,0,0,0.6);
        margin-top: 4vw;
        border-radius: 15px;
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 8vw;
        
    }
    .prev {
        left: 10vw; 
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~section 4~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    #section4{
        max-height: none;
    }
    form{
        flex-direction: column;
    }
    .fieldset1{
        width: 50vw;
        height: 60vw;
        margin: 0;
    }
    .fieldset2{
        width: 50vw;
        height: 60vw;
        margin: 0;
    }
    input{
        width: 30vw;
        height: 5vw;
        font-size: 4vw;
    }
    label{
        font-size: 3vw;
    }
    textarea{
        width: 26vw;
        height: 28vw;
        font-size: 3vw
    }
    .fieldset2 div button{
        font-size: 3vw;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    footer div{
        flex-direction: column;
        font-size: 2.5vw;
    }
}