.scrolltop {
	display:none;
	width:10px;
    height: 10px;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:3vw;
	bottom:3vw;
	background:rgba(255, 0, 55, 0.6);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
    border-radius: 50%;	
}
.scroll:hover {
	background:rgb(255, 0, 0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.fa-solid{
    height: 15px;
    width: 15px;
}
